.App {
  display: flex;
  flex-direction: column;
}

.nav-link {
  margin: 5px;
}

.btn {
  width: 50px;
}

#my-form-item {
  width: 100px;
}

#my-form {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
