body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-friend-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.nav-link {
  margin: 5px;
}

.btn {
  width: 100px;
}

.close {
  text-align: right;
}

.list-of-friends {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  width: 800px;
  height: 95vh;
}

.friend-card {
  width: 250px;
  margin: 10px;
  height: 200px;
  padding: 5px;
}

.my-friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
